 */ body /*
 body {
  background-color: #00b3e6;
}

*/ div /*
div {
  width: 700px;
  margin: auto;
  font-family: Helvetica Neue;
  background: white;
  padding: 300px;
}

*/main-header/*
#main-header {
  font-size: 22px;
  color: red;
}

*/ .perspective-questions /*
.perspective-questions {
  font-style: italic;
}